.elements {
  margin: 0;
  padding: 0;
  grid-column: 2/3;
}

.elements__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 37px 24px;
  grid-template: auto /repeat(3, 364px);
  justify-content: center;
}

.movies__next_nonactive {
  display: none;
}

.movies__next {
  display: block;
  width: 100%;
  margin: 60px auto 80px;
}

.movies__next_nonactive {
  display: none;
}

.movies__button {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 36px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2F2F2F;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .elements__list {
    gap: 30px;
    grid-template: auto /repeat(3, 339px);
  }
}

@media screen and (max-width: 1150px) {
  .elements__list {
    gap: 30px;
    grid-template: auto /repeat(3, 300px);
  }
}

@media screen and (max-width: 1020px) {
  .elements__list {
    gap: 30px;
    grid-template: auto /repeat(2, 300px);
  }
}

@media screen and (max-width: 680px) {
  .elements__list {
    gap: 30px;
    grid-template: auto / 300px;
  }
}

