.root {
  background-color: #202020;
  color: #FFFFFF;
}

.block {
  margin: 0;
  padding: 0;
  grid-column: 2/3;
}

.page {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  display: grid;
  grid-template: max-content auto max-content /1fr minmax(auto, 1280px) 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
