.root {
  background-color: #202020;
  color: #FFFFFF;
}

.block {
  margin: 0;
  padding: 0;
  grid-column: 2/3;
}

.page {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  display: grid;
  grid-template: max-content auto max-content /1fr minmax(auto, 1280px) 1fr;
}

.movies__search {
  margin: 0;
  padding: 64px 70px 40px 70px;
}

.movies__check {
  margin: 0;
  padding: 0 70px 49px 70px;
}

.movies__list {
  margin: 0;
  padding: 70px 0 60px;
}
