.elements {
  margin: 0;
  padding: 0;
}

.elements__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 37px 24px;
  grid-template: auto /repeat(auto-fill, 364px);
  justify-content: center;
}




@media screen and (max-width: 1279px) {
  .elements__list {
    gap: 30px;
    grid-template: auto /repeat(auto-fill, 339px);
  }
}

@media screen and (max-width: 1220px) {
  .elements__list {
    gap: 37px 24px;
    grid-template: auto /repeat(auto-fill, 364px);
  }
}

@media screen and (max-width: 900px) {
  .elements__list {
    gap: 30px;
    grid-template: auto /repeat(auto-fill, 339px);
  }
}
