/*.search {*/
/*  margin: 0;*/
/*  padding: 70px 70px 48px 70px;*/
/*}*/


.search__form {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #424242;
}

.search__input {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0;
  width: 100%;
  padding: 5px 0 10px;
  border: none;
  outline: none;
  background-color: #202020;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #8B8B8B;
}

.search__icon {
  margin: 0 10px 0 0;
  padding: 0;
  width: 34px;
  height: 34px;
}

.search__button {
  margin: 0 0 0 10px;
  width: 34px;
  height: 34px;
  border: none;
  outline: none;
  background: #202020 url("../../../images/find.svg") no-repeat center center / contain;
  object-fit: cover;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

/*.check__input {*/
/*  position: absolute;*/
/*  width: 1px;*/
/*  height: 1px;*/
/*  overflow: hidden;*/
/*  clip: rect(0 0 0 0);*/
/*}*/

/*.check__input:disabled + .check__pseudo-item_type_checkbox {*/
/*  background: url("../../../images/check-off.svg") no-repeat center center / contain;*/
/*}*/

/*.check__input:checked + .check__pseudo-item_type_checkbox {*/
/*  background: url("../../../images/check-on.svg") no-repeat center center / contain;*/
/*}*/

/*.check__input:focus + .check__pseudo-item_type_checkbox {*/
/*}*/

/*.check__input:disabled:checked + .check__pseudo-item_type_checkbox {*/
/*  background-image: url("../../../images/check-off.svg");*/
/*}*/

/*.check__label {*/
/*  grid-column: 2/3;*/
/*  display: inline-block;*/
/*}*/

/*.check__pseudo-item {*/
/*  display: inline-block;*/
/*  vertical-align: middle;*/
/*  width: 36px;*/
/*  height: 20px;*/
/*  background: url("../../../images/check-off.svg") no-repeat center center / contain;*/
/*}*/

/*.check__label-text {*/
/*  padding: 0;*/
/*  margin: 0 0 0 12px;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 18px;*/
/*  color: #FFFFFF;*/
/*}*/

/*.check {*/
/*  display: grid;*/
/*  grid-template: max-content / 1fr max-content 1fr;*/
/*  padding: 0;*/
/*  margin: 18px 0 0 0;*/
/*}*/
