.search__form {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #424242;
}

.search__input {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0;
  width: 100%;
  padding: 5px 0 10px;
  border: none;
  outline: none;
  background-color: #202020;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #8B8B8B;
}

.search__icon {
  display: flex;
  margin: 0 10px 0 0;
  padding: 0;
  width: 34px;
  height: 34px;
}

.search__button {
  margin: 0 0 0 10px;
  width: 34px;
  height: 34px;
  border: none;
  outline: none;
  background: #202020 url("../../../images/find.svg") no-repeat center center / contain;
  object-fit: cover;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .search__icon {
    display: none;
  }

  .search__input {
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #8B8B8B;
  }
}
